@media screen and (max-width:576px) {
    .nav-hamburgur-menu{
        display: block;
        color: white;       
      } 
      .home{
        flex-direction: column;
      }
      .fitness-area{
        flex-direction: column;
      }
      .home{
        display: none;
      }
        .run-an-extra {
           flex-direction: column;

      }
      .movement{
         flex-direction: column; 
      }
      .container{
       grid-template-columns: repeat(1,1fr);
      }
      .banner-main{
        flex-direction: column;
      }
      .full-cal-chart{
        flex-direction: column;
        /* padding:10px; */
      }
      .run-an-extra-child img{
        width: 130%;
      }
      .last-section{
        grid-template-columns: repeat(1,1fr);
      } 
     
       .diet-imges{
          flex-direction: column;
       }
       .image-all{
        margin-right: 45%;
       }
       .section-350{
        width: 170px;
        left:15%;
       }
    .section-500{
        width: 170px;
        left:100%;
       }
}
