@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');  
.fitness{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
   
}
.navbar-wrapper{
     background: linear-gradient(180.00deg, rgb(12, 11, 11),rgb(25, 23, 23) 100%); 
    
    width: -30%;
}
.home {
color :  rgb(255, 255, 255);
border: 2px solid gray;
border-radius: 30px;
padding: 7px;
gap: 15px;
}



.fitness-area{
 color:rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  gap: 10px;
 left:30%;
 margin-left: 80px;
}
.nav-hamburgur-menu{
  display: none;

}


.main-content{
    max-width: 1440px;
    margin:0 auto;
    /* height:715px; */
    border:2px solid red
}
            

.shape {
    font-family: "Miama", sans-serif;
                                                
  }
 
    .image-1{
      position: relative;
      width:40%;
      margin-left: 40%;
    }

 
 .banner-main{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: rgb(17, 17, 17)
    rgba(119, 119, 119, 0);
     */
 }
.banner-childs{
    width:47%;

}  
.banner-childs{
    font-size: 40px;
     font-weight:900;
     top: 100px;
     align-items: center;
     margin-left: 80px;
}

.section-500{
 position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  z-index:2;
  bottom: 55%;
  left:110%;
  width: 193px;
height: 98px;
text-align: center;
color: white;
   
}

.section-350{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  text-align:center; 
  bottom:10%;
  left:10%;
  border-radius: 12px;
  color: white;

}
.Change-Your-Habits{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-color: black;
    
    align-items: center;
    margin-left:90px;
    margin-right: 70px; 
    color: white;
    border-color: black;
    

}
.movement {
 display:flex;
 /* justify-content: space-between; */
  align-items: center; 
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  
} 

.description{
 font-family: "Inter", sans-serif; 
font-weight: 400;
font-size: 16px;
color: rgba(255, 255, 255, 0.5);}

.movement img{
    border-radius: 50%;
   
}
.run-an-extra {
    margin-top: 50px;
    
    /* height: 300px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
     /* margin-left:70px; */
     margin-right: 50px; 
    border-radius: 18px;
background: rgb(34, 34, 34);

}
.run-an-extra-child{
    width: 50%;
    /* border: 2px solid blueviolet; */
    margin-left: 40px; 
   
   
}
.run-an-extra-child img{
    border-radius: 18px;
   
    width: 95%;
    /* margin-right: 20px;  */
    height: 100%;
    object-fit: cover;
}
.Run{color: white;
    font-size: 40px;
    font-weight:900;
    font-family: "Inter", sans-serif;
}
.meet-our-team{
    color: white;

}

.meet-our-team{
     background-color:rgb(34, 34, 34); 
    margin-left:20px;
    margin-right: 20px;
    margin-top:20px;
    
  
}

.last-section{
    background-color:rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3,1fr);
 margin-right: 15px; 
}
hr.solid {
    border-top: 2px	
     rgba(255, 255, 255, 0.1); 

  }
  .devider{
    margin: 0 auto;
    width:170%;
    margin-left: 60%;
    text-align: center;
  }
  .bmi-calculator{
    background-color: black;
    
    
  }
  .full-cal-chart{
    display: flex;
     justify-content: space-between; 
    background-color:rgb(34, 34, 34) ;
    
  }
  .chart{
    margin-left:10% ;
  }
  .table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .bmi-child{
width: 50%;


  }
  .bmi-parent{
    display: flex;
    /* flex-wrap: wrap;  */
    /* box-sizing: content-box; */
  }
  .bmi-parent input,textarea,select{
    
    border-radius: 5px;
    padding: 12px 40px 12px 20px;
    gap:10;
 background: rgba(255, 255, 255, 0.1);
 
  }
  .bmi-child-text{
    width: 100%;
    color: rgba(255, 255, 255, 0.6);

  }
  .diet-imges{
    display: flex;
   
    justify-content: space-evenly;
  }
  .diet-imges img{
    width:100%;
    /* height:100%; */
  }
  .exercixe{
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:rgb(34, 34, 34);
    gap: 10px;; 
}
.child {
    width: 100%;
    height: 300px;
    position: relative;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.trainer-text{
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.child img{
    width: 90%;
    height: 300px;
    border-radius: 10px;    
}
.image-all{
  position: relative;

}
  
  