@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');  
.fitness{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
   
}
.navbar-wrapper{
     background: linear-gradient(180.00deg, rgb(12, 11, 11),rgb(25, 23, 23) 100%); 
    
    width: -30%;
}
.home {
color :  rgb(255, 255, 255);
border: 2px solid gray;
border-radius: 30px;
padding: 7px;
gap: 15px;
}



.fitness-area{
 color:rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  gap: 10px;
 left:30%;
 margin-left: 80px;
}
.nav-hamburgur-menu{
  display: none;

}


.main-content{
    max-width: 1440px;
    margin:0 auto;
    height:715px;
    border:2px solid red
}
            

.shape {
    font-family: "Miama", sans-serif;
                                                
  }
 /* .banner-childs img{
    width: 349px;
  height: 580px;
  left: 877px;
    bottom:32px;
    position: absolute; }*/
    .image-1{
      /* position:absolute; */
      width:40%;
      margin-left: 10%;
    }

 
 .banner-main{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: rgb(17, 17, 17)
    rgba(119, 119, 119, 0);
     */
 }
.banner-childs{
    width:47%;

}  
.banner-childs{
    font-size: 40px;
     font-weight:900;
     top: 100px;
     align-items: center;
     margin-left: 80px;
}
.section-500{
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.round{
    color:red
}
.div-350{
    padding: 10px;
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    border-radius:20px;
    left:830px;
    bottom:100px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
}
.Change-Your-Habits{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-color: black;
    
    align-items: center;
    margin-left:90px;
    margin-right: 70px; 
    color: white;
    border-color: black;
    

}
.movement {
 display:flex;
 /* justify-content: space-between; */
  align-items: center; 
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  
} 

.description{
 font-family: "Inter", sans-serif; 
font-weight: 400;
font-size: 16px;
color: rgba(255, 255, 255, 0.5);}

.movement img{
    border-radius: 50%;
   
}
.run-an-extra {
    margin-top: 50px;
    
    /* height: 300px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
     /* margin-left:70px; */
     margin-right: 50px; 
    border-radius: 18px;
background: rgb(34, 34, 34);

}
.run-an-extra-child{
    width: 50%;
    /* border: 2px solid blueviolet; */
    margin-left: 40px; 
   
   
}
.run-an-extra-child img{
    border-radius: 18px;
    /* align-items: center; */
    /* /* margin-left:90px; */
    /* margin-right: 60px; 
    right:30%; */

/* left: 662px;
top: 30px; */
    width: 95%;
    /* margin-right: 20px;  */
    height: 100%;
    object-fit: cover;
}
.Run{color: white;
    font-size: 40px;
    font-weight:900;
    font-family: "Inter", sans-serif;
}
.meet-our-team{
    color: white;

}
.trainer-1{
    position: relative;
}
.trainer-1-text{
    position: absolute;
    top:77%;
    padding:15px;

}
.trainer-1 img{
    width: 100%;
    height:100%;
    border-radius: 10px;
    object-fit: cover;
   
}
.meet-our-team-child{
    margin-left: 50px;
    margin-right: 50px;
   

}
.meet-our-team{
    background-color:rgb(34, 34, 34);
    margin-left:20px;
    margin-right: 20px;
    margin-top:20px;
    /* display: grid;
  grid-template-columns: repeat(3,2fr);
  gap:20px; */
  
}
.meet-our-team-mid{
  display: grid;
  grid-template-columns: repeat(3,2fr);
   gap:15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-section{
    background-color:rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3,1fr);
 margin-right: 15px; 
}
hr.solid {
    border-top: 2px	
    rgba(255, 255, 255, 0.1);

  }
  .devider{
    margin: 0 auto;
    width:170%;
    margin-left: 60%;
    text-align: center;
  }
  .bmi-calculator{
    background-color: black;
    
  }
  .full-cal-chart{
    display: flex;
     justify-content: space-between; 
    background-color:rgb(34, 34, 34) ;
  }
  .table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .bmi-child{
width: 50%;
  }
  .bmi-parent{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .bmi-parent input,textarea,select{
    /* width:100%; */
    border-radius: 8px;
 background: rgba(255, 255, 255, 0.1);
  }
  .bmi-child-text{
    width: 100%;

  }
  .diet-imges{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    justify-content: space-between;
  }
  .diet-imges img{
    width:100%;
    height:100%;
  }
  
  
  